@using System.Collections
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CourseProject.Presentation.ViewModels.FormTemplateViewModel

<h2>Create New Form Template</h2>

<form asp-action="Create" asp-controller="FormTemplates" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TopicId">Topic</label>
        <select asp-for="TopicId" class="form-control" asp-items="@(new SelectList((IEnumerable<CourseProject.Domain.Models.Topic>)ViewData["AllTopics"], "Id", "Name"))"></select>
        <span asp-validation-for="TopicId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedTagIds">Tags</label>
        <select asp-for="SelectedTagIds" class="form-control" asp-items="@(new SelectList((IEnumerable)ViewData["Tags"], "Id", "Name"))" multiple="multiple">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="IsPublic">Is Public</label>
        <input asp-for="IsPublic" class="form-check-input" />
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl">Image URL</label>
        <input asp-for="ImageUrl" class="form-control" type="url" />
    </div>

    <h3>Questions</h3>
    <div id="questions-container">
        <!-- Questions will be added here -->
    </div>
    <button type="button" onclick="addQuestion()">Add Question</button>
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
<script>
    let questionCount = 0;
    function addQuestion() {
        const container = document.getElementById('questions-container');
        const questionHtml = `
                <div class="question-group">
                    <label for="Questions[${questionCount}].Title">Question Title</label>
                    <input name="Questions[${questionCount}].Title" class="form-control" />

                    <label for="Questions[${questionCount}].Type">Question Type</label>
                    <select name="Questions[${questionCount}].Type" class="form-control">
                        <option value="SingleLine">Single Line</option>
                        <option value="MultiLine">Multi Line</option>
                        <option value="Integer">Integer</option>
                        <option value="Checkbox">Checkbox</option>
                    </select>

                    <button type="button" onclick="removeQuestion(this)">Remove Question</button>
                </div>`;
        container.insertAdjacentHTML('beforeend', questionHtml);
        questionCount++;
    }

    function removeQuestion(button) {
        button.parentElement.remove();
    }
</script>
}


